.card-chart {
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        .card-title {
            color: dimgray;
        }
    }
}